name: Developer CI Pipeline

on:
  workflow_run:
    workflows: ["CI - Flask Unit Tests"]
    types:
      - completed

jobs:
  notify-devs:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Send Discord Notification
        env:
          DISCORD_WEBHOOK: ${{ secrets.DISCORD_DEV_WEBHOOK_URL }}
          CI_RESULT: ${{ github.event.workflow_run.conclusion }}
          DEV_ROLE_ID: "1461638107211235401"
          GITHUB_REPOSITORY: ${{ github.repository }}
          GITHUB_REF_NAME: ${{ github.event.workflow_run.head_branch }}
          GITHUB_RUN_ID: ${{ github.event.workflow_run.id }}
          COMMIT_SHA: ${{ github.event.workflow_run.head_sha }}
          COMMIT_MSG: ${{ github.event.workflow_run.head_commit.message }}
        run: python3 notify-dev-discord.py